%p
  @#{@tweet.twitterid}の#{@tweet.tweetdate.year}年#{@tweet.tweetdate.month}月#{@tweet.tweetdate.day}日のツイート
%br

%p
  = @output_hash[:date]
  = @output_hash[:count]
  %br
  - @output_hash[:tweets].each do |text|
    = text
    %br
